.verification{
    margin-top: 35px;
    position: relative;
    span{
        position: absolute;
        top: 50%;
        left: 8px;
        z-index: 10;
        transform: translateY(-50%);
    }
    label{
        left: 30px;
    }
    input{
        padding-left: 30px;
    }
}