@import '../../../variables.scss';

.line{
    display: flex;
    gap: 8px;
}

.nickname{
    margin-top: 35px;
    position: relative;
    span{
        position: absolute;
        top: 50%;
        right: 8px;
        transform: translateY(-52%);
        z-index: 10;
        font-size: 14px;
    }
    input{
        padding-right: 100px;
    }
}

.password{
    margin-top: 50px;
    &__checkbox{
        margin-top: 50px;
        display: flex;
        align-items: center;
        user-select: none;
        input{
            width: 20px;
            height: 20px;
            margin-right: 20px;
        }
    }
}
