
$white: #fff;
$red: #d93025;
$text: #202124;
$accent: #1a73e8;
$text-grey: #5f6368;
$border-grey: #dadce0;

$accent-border: 1px solid $accent;
$primary-border: 1px solid $border-grey;

$fst-transition: .15s cubic-bezier(.4,0,.2,1);
$md-transition: .55s cubic-bezier(.4,0,.2,1);